In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from adjustText import adjust_text

In [2]:
# Importing play by play data 
df = pd.read_csv('PlayByPlay_Season22.csv')
df

,Unnamed: 0,index,TYPE,NUMBEROFPLAY,CODETEAM,PLAYER_ID,PLAYTYPE,PLAYER,TEAM,DORSAL,MINUTE,MARKERTIME,POINTS_A,POINTS_B,COMMENT,PLAYINFO,Game ID,Team_A,Team_B
0,0,0,0,2,,,BP,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Begin Period,1,MAD,PAN
1,1,1,0,3,MAD,,JB,NaN,Real Madrid,NaN,1,09:59,NaN,NaN,NaN,NaN,1,MAD,PAN
2,2,2,0,4,MAD,P010357,2FGA,"YABUSELE, GUERSCHON",Real Madrid,28.0,1,09:41,NaN,NaN,NaN,Missed Two Pointer (0/1 - 0 pt),1,MAD,PAN
3,3,3,0,5,PAN,P011225,D,"LEE, PARIS",Panathinaikos Athens,5.0,1,09:38,NaN,NaN,NaN,Def Rebound (1),1,MAD,PAN
4,4,4,0,6,MAD,P001392,CM,"CAUSEUR, FABIEN",Real Madrid,1.0,1,09:34,NaN,NaN,NaN,Foul (1),1,MAD,PAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170570,170570,170570,0,487,MAD,PCVM,OUT,"RODRIGUEZ, SERGIO",Real Madrid,13.0,40,00:03,NaN,NaN,NaN,Out,330,NaN,NaN
170571,170571,170571,0,488,MAD,PTGB,OUT,"LLULL, SERGIO",Real Madrid,23.0,40,00:03,NaN,NaN,NaN,Out,330,NaN,NaN
170572,170572,170572,0,489,OLY,P001926,2FGA,"SLOUKAS, KOSTAS",Olympiacos Piraeus,11.0,40,00:02,NaN,NaN,NaN,Missed Two Pointer (1/2 - 6 pt),330,NaN,NaN
170573,170573,170573,0,490,MAD,P007982,D,"WILLIAMS-GOSS, NIGEL",Real Madrid,0.0,40,00:01,NaN,NaN,NaN,Def Rebound (2),330,NaN,NaN
170574,170574,170574,0,493,,,EG,NaN,NaN,NaN,41,NaN,NaN,NaN,NaN,End Game,330,NaN,NaN

In [3]:
# Drop unnecessary columsn
df = df.loc[:, df.columns[3:]]
df

,NUMBEROFPLAY,CODETEAM,PLAYER_ID,PLAYTYPE,PLAYER,TEAM,DORSAL,MINUTE,MARKERTIME,POINTS_A,POINTS_B,COMMENT,PLAYINFO,Game ID,Team_A,Team_B
0,2,,,BP,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Begin Period,1,MAD,PAN
1,3,MAD,,JB,NaN,Real Madrid,NaN,1,09:59,NaN,NaN,NaN,NaN,1,MAD,PAN
2,4,MAD,P010357,2FGA,"YABUSELE, GUERSCHON",Real Madrid,28.0,1,09:41,NaN,NaN,NaN,Missed Two Pointer (0/1 - 0 pt),1,MAD,PAN
3,5,PAN,P011225,D,"LEE, PARIS",Panathinaikos Athens,5.0,1,09:38,NaN,NaN,NaN,Def Rebound (1),1,MAD,PAN
4,6,MAD,P001392,CM,"CAUSEUR, FABIEN",Real Madrid,1.0,1,09:34,NaN,NaN,NaN,Foul (1),1,MAD,PAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170570,487,MAD,PCVM,OUT,"RODRIGUEZ, SERGIO",Real Madrid,13.0,40,00:03,NaN,NaN,NaN,Out,330,NaN,NaN
170571,488,MAD,PTGB,OUT,"LLULL, SERGIO",Real Madrid,23.0,40,00:03,NaN,NaN,NaN,Out,330,NaN,NaN
170572,489,OLY,P001926,2FGA,"SLOUKAS, KOSTAS",Olympiacos Piraeus,11.0,40,00:02,NaN,NaN,NaN,Missed Two Pointer (1/2 - 6 pt),330,NaN,NaN
170573,490,MAD,P007982,D,"WILLIAMS-GOSS, NIGEL",Real Madrid,0.0,40,00:01,NaN,NaN,NaN,Def Rebound (2),330,NaN,NaN
170574,493,,,EG,NaN,NaN,NaN,41,NaN,NaN,NaN,NaN,End Game,330,NaN,NaN

In [4]:
df['scoreDiff'] = df['POINTS_A'] - df['POINTS_B']

In [5]:
eventList = ['3FGM','2FGM','FTM']

In [6]:
madeShots = df[df['PLAYTYPE'].isin(eventList)]
madeShots

,NUMBEROFPLAY,CODETEAM,PLAYER_ID,PLAYTYPE,PLAYER,TEAM,DORSAL,MINUTE,MARKERTIME,POINTS_A,POINTS_B,COMMENT,PLAYINFO,Game ID,Team_A,Team_B,scoreDiff
6,8,PAN,P009006,FTM,"WILLIAMS, DERRICK",Panathinaikos Athens,8.0,1,09:34,1.0,NaN,NaN,Free Throw In (1/1 - 1 pt),1,MAD,PAN,NaN
7,9,PAN,P009006,FTM,"WILLIAMS, DERRICK",Panathinaikos Athens,8.0,1,09:34,2.0,NaN,NaN,Free Throw In (2/2 - 2 pt),1,MAD,PAN,NaN
11,13,MAD,P009005,FTM,"DECK, GABRIEL",Real Madrid,14.0,1,09:14,2.0,1.0,NaN,Free Throw In (1/2 - 1 pt),1,MAD,PAN,1.0
16,19,MAD,P010357,2FGM,"YABUSELE, GUERSCHON",Real Madrid,28.0,2,08:35,2.0,3.0,NaN,Two Pointer (1/2 - 2 pt),1,MAD,PAN,-1.0
20,23,PAN,P011225,FTM,"LEE, PARIS",Panathinaikos Athens,5.0,2,08:19,3.0,3.0,NaN,Free Throw In (1/2 - 1 pt),1,MAD,PAN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170539,454,MAD,P005791,2FGM,"TAVARES, WALTER",Real Madrid,22.0,38,02:41,76.0,72.0,NaN,Two Pointer (5/9 - 13 pt),330,NaN,NaN,4.0
170541,456,OLY,P010612,2FGM,"CANAAN, ISAIAH",Olympiacos Piraeus,3.0,38,02:13,78.0,72.0,NaN,Two Pointer (2/3 - 21 pt),330,NaN,NaN,6.0
170543,459,MAD,PCVM,2FGM,"RODRIGUEZ, SERGIO",Real Madrid,13.0,39,01:59,78.0,74.0,NaN,Two Pointer (4/6 - 12 pt),330,NaN,NaN,4.0
170552,469,MAD,PCVM,3FGM,"RODRIGUEZ, SERGIO",Real Madrid,13.0,40,00:46,78.0,77.0,NaN,Three Pointer (2/5 - 15 pt),330,NaN,NaN,1.0
170562,479,MAD,PTGB,2FGM,"LLULL, SERGIO",Real Madrid,23.0,40,00:03,78.0,79.0,NaN,Two Pointer (1/2 - 2 pt),330,NaN,NaN,-1.0

# Clutch

In [7]:
clutch = madeShots[madeShots['MINUTE'] >= 37]
clutch

,NUMBEROFPLAY,CODETEAM,PLAYER_ID,PLAYTYPE,PLAYER,TEAM,DORSAL,MINUTE,MARKERTIME,POINTS_A,POINTS_B,COMMENT,PLAYINFO,Game ID,Team_A,Team_B,scoreDiff
465,507,MAD,P006540,2FGM,"MUSA, DZANAN",Real Madrid,31.0,37,03:34,63.0,64.0,NaN,Two Pointer (2/2 - 9 pt),1,NaN,NaN,-1.0
471,513,PAN,P009006,FTM,"WILLIAMS, DERRICK",Panathinaikos Athens,8.0,37,03:10,64.0,64.0,NaN,Free Throw In (4/9 - 14 pt),1,NaN,NaN,0.0
472,514,PAN,P009006,FTM,"WILLIAMS, DERRICK",Panathinaikos Athens,8.0,37,03:10,65.0,64.0,NaN,Free Throw In (5/10 - 15 pt),1,NaN,NaN,1.0
475,518,MAD,P006540,2FGM,"MUSA, DZANAN",Real Madrid,31.0,38,02:34,65.0,66.0,NaN,Two Pointer (3/3 - 11 pt),1,NaN,NaN,-1.0
482,526,MAD,P006540,2FGM,"MUSA, DZANAN",Real Madrid,31.0,39,01:57,65.0,68.0,NaN,Two Pointer (4/4 - 13 pt),1,NaN,NaN,-3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170539,454,MAD,P005791,2FGM,"TAVARES, WALTER",Real Madrid,22.0,38,02:41,76.0,72.0,NaN,Two Pointer (5/9 - 13 pt),330,NaN,NaN,4.0
170541,456,OLY,P010612,2FGM,"CANAAN, ISAIAH",Olympiacos Piraeus,3.0,38,02:13,78.0,72.0,NaN,Two Pointer (2/3 - 21 pt),330,NaN,NaN,6.0
170543,459,MAD,PCVM,2FGM,"RODRIGUEZ, SERGIO",Real Madrid,13.0,39,01:59,78.0,74.0,NaN,Two Pointer (4/6 - 12 pt),330,NaN,NaN,4.0
170552,469,MAD,PCVM,3FGM,"RODRIGUEZ, SERGIO",Real Madrid,13.0,40,00:46,78.0,77.0,NaN,Three Pointer (2/5 - 15 pt),330,NaN,NaN,1.0
170562,479,MAD,PTGB,2FGM,"LLULL, SERGIO",Real Madrid,23.0,40,00:03,78.0,79.0,NaN,Two Pointer (1/2 - 2 pt),330,NaN,NaN,-1.0

In [8]:
clutchPlayers = clutch.groupby(['PLAYER','PLAYTYPE'])['NUMBEROFPLAY'].count().reset_index()
clutchPlayers

              PLAYER PLAYTYPE  NUMBEROFPLAY
0    ABALDE, ALBERTO     2FGM             1
1    ABALDE, ALBERTO      FTM             6
2       ABASS, AWUDU     3FGM             2
3      ABRINES, ALEX     2FGM             2
4      ABRINES, ALEX     3FGM             6
..               ...      ...           ...
600      ZIZIC, ANTE     2FGM             4
601      ZIZIC, ANTE      FTM             1
602   ZOOSMAN, YOVEL     2FGM            10
603   ZOOSMAN, YOVEL     3FGM             1
604   ZOOSMAN, YOVEL      FTM             2

[605 rows x 3 columns]

In [9]:
clutchPlayersPivoted = clutchPlayers.pivot(index='PLAYER', columns='PLAYTYPE', values='NUMBEROFPLAY')
clutchPlayersPivoted = clutchPlayersPivoted.fillna(0)
clutchPlayersPivoted['Clutch Points'] = clutchPlayersPivoted['2FGM'] * 2 +  clutchPlayersPivoted['3FGM'] *3 +  clutchPlayersPivoted['FTM']  
clutchPlayersPivoted.sort_values(by='Clutch Points',ascending = False).head(15)

PLAYTYPE              2FGM  3FGM   FTM  Clutch Points
PLAYER
CLYBURN, WILL         16.0  10.0  37.0           99.0
OKOBO, ELIE           16.0  12.0  26.0           94.0
JONES, CHRIS          19.0   8.0  24.0           86.0
ULANOVAS, EDGARAS      8.0   8.0  33.0           73.0
EXUM, DANTE           16.0   2.0  35.0           73.0
VEZENKOV, SASHA       17.0   7.0  18.0           73.0
PUNTER, KEVIN         14.0   6.0  25.0           71.0
BALDWIN IV, WADE      13.0   5.0  29.0           70.0
DIALLO, ALPHA         16.0   4.0  24.0           68.0
SLOUKAS, KOSTAS       12.0   3.0  35.0           68.0
MUSA, DZANAN          18.0   3.0  22.0           67.0
HIGGINS, CORY          8.0   7.0  26.0           63.0
BRAZDEIKIS, IGNAS     17.0   6.0  11.0           63.0
MCKISSIC, SHAQUIELLE  12.0   8.0  13.0           61.0
GUDURIC, MARKO        11.0   5.0  24.0           61.0

# Late and Close

In [10]:
lateClose = madeShots[madeShots['MINUTE'] >= 39]
lateClose = lateClose[(lateClose['scoreDiff'] >= -4) & (lateClose['scoreDiff'] <= 4)]
lateClose

,NUMBEROFPLAY,CODETEAM,PLAYER_ID,PLAYTYPE,PLAYER,TEAM,DORSAL,MINUTE,MARKERTIME,POINTS_A,POINTS_B,COMMENT,PLAYINFO,Game ID,Team_A,Team_B,scoreDiff
482,526,MAD,P006540,2FGM,"MUSA, DZANAN",Real Madrid,31.0,39,01:57,65.0,68.0,NaN,Two Pointer (4/4 - 13 pt),1,NaN,NaN,-3.0
508,554,PAN,P011225,3FGM,"LEE, PARIS",Panathinaikos Athens,5.0,40,00:00,68.0,71.0,NaN,Three Pointer (3/9 - 12 pt),1,NaN,NaN,-3.0
1004,544,ASV,P002100,FTM,"DE COLO, NANDO",LDLC ASVEL Villeurbanne,12.0,39,01:53,61.0,61.0,NaN,Free Throw In (2/2 - 17 pt),2,NaN,NaN,0.0
1005,545,ASV,P002100,FTM,"DE COLO, NANDO",LDLC ASVEL Villeurbanne,12.0,39,01:53,62.0,61.0,NaN,Free Throw In (3/3 - 18 pt),2,NaN,NaN,1.0
1007,547,MIL,P005775,3FGM,"BARON, BILLY",EA7 Emporio Armani Milan,12.0,39,01:31,62.0,64.0,NaN,Three Pointer (4/4 - 18 pt),2,NaN,NaN,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168588,570,PAR,P008987,3FGM,"LEDAY, ZACH",Partizan Mozzart Bet Belgrade,2.0,40,00:47,97.0,94.0,NaN,Three Pointer (3/5 - 9 pt),325,NaN,NaN,3.0
168602,585,MAD,P003108,FTM,"HEZONJA, MARIO",Real Madrid,11.0,40,00:24,98.0,94.0,NaN,Free Throw In (1/2 - 13 pt),325,NaN,NaN,4.0
170543,459,MAD,PCVM,2FGM,"RODRIGUEZ, SERGIO",Real Madrid,13.0,39,01:59,78.0,74.0,NaN,Two Pointer (4/6 - 12 pt),330,NaN,NaN,4.0
170552,469,MAD,PCVM,3FGM,"RODRIGUEZ, SERGIO",Real Madrid,13.0,40,00:46,78.0,77.0,NaN,Three Pointer (2/5 - 15 pt),330,NaN,NaN,1.0
170562,479,MAD,PTGB,2FGM,"LLULL, SERGIO",Real Madrid,23.0,40,00:03,78.0,79.0,NaN,Two Pointer (1/2 - 2 pt),330,NaN,NaN,-1.0

In [11]:
lateClosePlayers = lateClose.groupby(['PLAYER','PLAYTYPE'])['NUMBEROFPLAY'].count().reset_index()
lateClosePlayers

                  PLAYER PLAYTYPE  NUMBEROFPLAY
0        ABALDE, ALBERTO      FTM             1
1          ABRINES, ALEX     2FGM             1
2          ABRINES, ALEX      FTM             2
3           ADAMS, JALEN     2FGM             1
4    AGRAVANIS, DIMITRIS      FTM             1
..                   ...      ...           ...
284        WOLTERS, NATE      FTM             2
285  YABUSELE, GUERSCHON     3FGM             2
286  YABUSELE, GUERSCHON      FTM             2
287          ZIZIC, ANTE      FTM             1
288       ZOOSMAN, YOVEL      FTM             1

[289 rows x 3 columns]

In [12]:
lateClosePlayersPivoted = lateClosePlayers.pivot(index='PLAYER', columns='PLAYTYPE', values='NUMBEROFPLAY')
lateClosePlayersPivoted = lateClosePlayersPivoted.fillna(0)
lateClosePlayersPivoted['Clutch Points'] = lateClosePlayersPivoted['2FGM'] * 2 +  lateClosePlayersPivoted['3FGM'] *3 +  lateClosePlayersPivoted['FTM']  
lateClosePlayersPivoted.sort_values(by='Clutch Points',ascending = False).head(15)

PLAYTYPE           2FGM  3FGM   FTM  Clutch Points
PLAYER
JONES, CHRIS       10.0   3.0  17.0           46.0
OKOBO, ELIE         4.0   5.0   4.0           27.0
VILDOZA, LUCA       2.0   2.0  15.0           25.0
SLOUKAS, KOSTAS     7.0   1.0   7.0           24.0
PUNTER, KEVIN       2.0   3.0  10.0           23.0
DE COLO, NANDO      4.0   1.0  11.0           22.0
NEDOVIC, NEMANJA    3.0   3.0   7.0           22.0
ULANOVAS, EDGARAS   1.0   2.0  12.0           20.0
LEE, PARIS          2.0   3.0   6.0           19.0
DECK, GABRIEL       3.0   0.0  13.0           19.0
CLYBURN, WILL       4.0   1.0   7.0           18.0
HARPER, JARED       2.0   3.0   5.0           18.0
BALDWIN IV, WADE    4.0   1.0   7.0           18.0
GUDURIC, MARKO      2.0   2.0   7.0           17.0
EXUM, DANTE         4.0   0.0   8.0           16.0

# Game on the Line

In [13]:
gameOnTheLine = madeShots[madeShots['MINUTE'] >= 40]
gameOnTheLine['Seconds'] = gameOnTheLine['MARKERTIME'].str.split(':').str[1].astype(int)
gameOnTheLine = gameOnTheLine[gameOnTheLine['Seconds'] <= 24]
gameOnTheLine = gameOnTheLine[(gameOnTheLine['scoreDiff'] >= -3) & (lateClose['scoreDiff'] <= 3)]
gameOnTheLine

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

,NUMBEROFPLAY,CODETEAM,PLAYER_ID,PLAYTYPE,PLAYER,TEAM,DORSAL,MINUTE,MARKERTIME,POINTS_A,POINTS_B,COMMENT,PLAYINFO,Game ID,Team_A,Team_B,scoreDiff,Seconds
508,554,PAN,P011225,3FGM,"LEE, PARIS",Panathinaikos Athens,5.0,40,00:00,68.0,71.0,NaN,Three Pointer (3/9 - 12 pt),1,NaN,NaN,-3.0,0
5590,577,PAN,P004172,2FGM,"PONITKA, MATEUSZ",Panathinaikos Athens,37.0,40,00:21,73.0,75.0,NaN,Two Pointer (3/6 - 10 pt),11,NaN,NaN,-2.0,21
5604,591,RED,P009818,FTM,"BENTIL, BENJAMIN",Crvena Zvezda mts Belgrade,50.0,40,00:06,74.0,75.0,NaN,Free Throw In (4/5 - 18 pt),11,NaN,NaN,-1.0,6
5616,603,PAN,P011225,FTM,"LEE, PARIS",Panathinaikos Athens,5.0,40,00:04,74.0,76.0,NaN,Free Throw In (2/3 - 5 pt),11,NaN,NaN,-2.0,4
5617,604,PAN,P011225,FTM,"LEE, PARIS",Panathinaikos Athens,5.0,40,00:04,74.0,77.0,NaN,Free Throw In (3/4 - 6 pt),11,NaN,NaN,-3.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163849,515,OLY,P001926,3FGM,"SLOUKAS, KOSTAS",Olympiacos Piraeus,11.0,40,00:01,71.0,72.0,NaN,Three Pointer (3/6 - 25 pt),315,NaN,NaN,-1.0,1
164410,616,TEL,P009863,3FGM,"BALDWIN IV, WADE",Maccabi Playtika Tel Aviv,5.0,40,00:18,78.0,81.0,NaN,Three Pointer (1/3 - 16 pt),316,NaN,NaN,-3.0,18
164895,514,MAD,P007982,3FGM,"WILLIAMS-GOSS, NIGEL",Real Madrid,0.0,40,00:24,77.0,80.0,NaN,Three Pointer (3/6 - 22 pt),317,NaN,NaN,-3.0,24
164911,530,PAR,P008987,3FGM,"LEDAY, ZACH",Partizan Mozzart Bet Belgrade,2.0,40,00:03,80.0,82.0,NaN,Three Pointer (2/4 - 15 pt),317,NaN,NaN,-2.0,3
170562,479,MAD,PTGB,2FGM,"LLULL, SERGIO",Real Madrid,23.0,40,00:03,78.0,79.0,NaN,Two Pointer (1/2 - 2 pt),330,NaN,NaN,-1.0,3

In [14]:
gameOnTheLinePlayers = gameOnTheLine.groupby(['PLAYER','PLAYTYPE'])['NUMBEROFPLAY'].count().reset_index()
gameOnTheLinePlayers

                   PLAYER PLAYTYPE  NUMBEROFPLAY
0           ABRINES, ALEX      FTM             2
1        ANDJUSIC, DANILO      FTM             1
2       AVRAMOVIC, ALEKSA      FTM             2
3           BACON, DWAYNE      FTM             2
4        BALDWIN IV, WADE     2FGM             1
..                    ...      ...           ...
128        WETZELL, YANNI     2FGM             1
129        WETZELL, YANNI      FTM             1
130     WILBEKIN, SCOTTIE      FTM             1
131     WILLIAMS, DERRICK     3FGM             1
132  WILLIAMS-GOSS, NIGEL     3FGM             1

[133 rows x 3 columns]

In [15]:
gameOnTheLinePlayersPivoted = gameOnTheLinePlayers.pivot(index='PLAYER', columns='PLAYTYPE', values='NUMBEROFPLAY')
gameOnTheLinePlayersPivoted = gameOnTheLinePlayersPivoted.fillna(0)
gameOnTheLinePlayersPivoted['Clutch Points'] = gameOnTheLinePlayersPivoted['2FGM'] * 2 +  gameOnTheLinePlayersPivoted['3FGM'] *3 +  gameOnTheLinePlayersPivoted['FTM']  
gameOnTheLinePlayersPivoted.sort_values(by='Clutch Points',ascending = False).head(15)

PLAYTYPE            2FGM  3FGM  FTM  Clutch Points
PLAYER
JONES, CHRIS         3.0   3.0  9.0           24.0
NEDOVIC, NEMANJA     1.0   2.0  5.0           13.0
SLOUKAS, KOSTAS      3.0   1.0  3.0           12.0
GUDURIC, MARKO       1.0   2.0  4.0           12.0
LEE, PARIS           1.0   2.0  2.0           10.0
DECK, GABRIEL        1.0   0.0  8.0           10.0
ULANOVAS, EDGARAS    0.0   0.0  9.0            9.0
MIROTIC, NIKOLA      0.0   2.0  3.0            9.0
OKOBO, ELIE          1.0   2.0  1.0            9.0
VILDOZA, LUCA        0.0   0.0  9.0            9.0
BALDWIN IV, WADE     1.0   1.0  3.0            8.0
PUNTER, KEVIN        0.0   1.0  4.0            7.0
JAMES, MIKE          1.0   1.0  2.0            7.0
SMITH, JALEEN        2.0   0.0  2.0            6.0
BEAUBOIS, RODRIGUE   1.0   1.0  1.0            6.0